@import './components/header.less';
@import './components/home-view.less';
@import './components/card.less';

//for scroll behaviour
html {
	overflow: hidden;
}

//hide scroll bars
::-webkit-scrollbar {
	width: 0;
	height: 0;
}


//main content, grid template can be cahnged to easily add headers, footers, etc without any other style changes.
.page {
	display: grid;
	grid-template-rows: 1fr;
	height: 100vh;
}


//Styles for the 'glow' effect behind the mouse. only visible on desktop
#mouse-glow {
	position: absolute;
	width: 700px; /* Increase size for a smoother gradient */
	height: 700px; /* Increase size for a smoother gradient */
	background: radial-gradient(circle, rgba(29, 78, 216, 0.15) 0%, transparent 70%);
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: transform 0.1s ease-out;
}

//styles for smaller screens (mobile)
@media (max-width: 800px) {
	article {
		padding-right: 5%;
		padding-left: 5%;
		display: grid !important;
		grid-template-rows: min-height 1fr;
		#name {
			display: flex;
			flex-direction: row;
			gap: 50px;
			border-bottom: 5px solid white;
			color: white;
			div {
				text-align: center;
				width: 33%;
			}
			.desc {

				font-size: calc(1.3 * 20px);
			}
		}
		#menu {
			width: 100%;
			ul {
				display: none;
			}
		}
		#content {
			width: 100%;
		}
	}
  }
